# Do not allow direct access to php files
RewriteRule \.php$ – [F]

# Other files we do not want viewable
RewriteRule ^(node_modules|vendor|bower_components|error_log|_notes) – [F]
RewriteRule ^(package|package-lock)\.json$ – [F]
RewriteRule \.s[ca]ss$ – [F]
RewriteRule ^(README|LICENSE).md – [F]
RewriteRule ^\. – [F]
