@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "css/wordpress-core.css";
@import "css/wordpress-gutenberg.css";

$lg:   "min-width: 1200px";
$md:   "max-width: 1199px";
$sm:   "max-width: 991px";
$xs:   "max-width: 767px";

$opacity: 0.75;

.opacity {
  -webkit-opacity: $opacity;
  -moz-opacity: $opacity;
  opacity: $opacity;
}
a:hover {
  @extend .opacity;
}

#template.not-found {
  padding: 60px 0;
  text-align: center;
  @include media-breakpoint-down(md){
    padding: 20px 0;
  }
  .main {
    @include media-breakpoint-down(md){
      padding: 40px 0 20px;
    }
    h1 {
      padding-bottom: 20px;
    }
    p {
      a {

      }
    }
  }
}
