@import "css/wordpress-core.css";
@import "css/wordpress-gutenberg.css";

$lg:   "min-width: 1200px";
$md:   "max-width: 1199px";
$sm:   "max-width: 991px";
$xs:   "max-width: 767px";

$opacity: 0.75;

.opacity {
  -webkit-opacity: $opacity;
  -moz-opacity: $opacity;
  opacity: $opacity;
}
a:hover {
  @extend .opacity;
}
